body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 130%;
  color: white;
  text-shadow: 0 0 2px #222222;
  background: #660066;
  background: -moz-linear-gradient(bottom right, #CCCC00 0%, #CC0033 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #CCCC00), color-stop(100%, #CC0033));
  background: -webkit-linear-gradient(left top, #CCCC00 0%, #CC0033 100%);
  background: -o-linear-gradient(bottom right, #CCCC00 0%, #CC0033 100%);
  background: -ms-linear-gradient(bottom right, #CCCC00 0%, #CC0033 100%);
  background: linear-gradient(to bottom right, #CCCC00 0%, #CC0033 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#profilepic {
  width: 125px;
  border-radius: 100%;
  border: 4px solid white;
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px dimgray;
}

h1 {
  font-weight: 100;
  margin: 0;
}

#hi_line {
  opacity:  0.95;
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 40px;
}

#my_name {
  font-size: 70px;
  font-weight: 300;
  opacity: 0.9;
}

#intro {
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: 10px;
}

#hi_badge {
  width: 450px;
  margin: 0 auto;
}


.fa {
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}

.fa-cubes {
  font-size: 40px;
  -webkit-transform:scale(0.9,1);
  -moz-transform:scale(0.9,1);
  -ms-transform:scale(0.9,1);
  -o-transform:scale(0.9,1);
  transform: scale(0.9,1);
}

.fa-file-text {
  -webkit-transform:scale(0.95,0.85);
  -moz-transform:scale(0.95,0.85);
  -ms-transform:scale(0.95,0.85);
  -o-transform:scale(0.95,0.85);
  transform: scale(0.95,0.85);  
}

.fa:hover {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.section_icon_hover {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

#description1_line1 {
  text-align: center;
  margin-top: 20px;
  font-size: 45px;
}

.transparent {
  opacity: 0.75;
  font-size: 38px;
}

#description1_line2 {
  text-align: center;
  margin-top: 10px;
  opacity: 0.85;
  font-size: 21px;
}

#contact {
  font-size: 60px;
  margin-top: 20px;
  text-align: center;
}

.icon_border {
  height: 40px;
  width: 25%;
  display: inline-block;
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.contact_icon {
  opacity: 0.3;
  padding: 5px;
}

#contact_line {
  text-align: center;
  margin-top: 35px;
  font-size: 30px;
  opacity: 0.8;
}

#description2, #description3, #description4 {
  font-size: 30px;
  padding-top: 7px;
}

#description2, #description4 {
  float: right;
  position: relative;
}

#description3 {
  float: left;
  position: relative;
}

#h1row2, #h1row3, #h1row4 {
  transition: margin 0.25s ease-in;  
}

.h1row2move, .h1row4move {
  margin-left: 30px;
  transition: margin 0.25s ease-in;
}

.h1row3move {
  margin-right: 30px;
  transition: margin 0.25s ease-in;
}

p {
  line-height: 35px;
  margin: 0;
}

.punc {
  opacity: 0.45;
  padding: 0 2px;
}

.hash {
  opacity: 0.5;
  margin-right: 10px;
  transition: opacity 0.25s ease-in;
}

.hash_hover {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.medium {
  font-size: 25px;
}

.large {
  font-size: 35px;
}

#row1 {
  padding: 100px 0;
  background: #6699FF;
  background-image: -moz-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66FFFF), color-stop(100%, #6600CC));
  background-image: -webkit-linear-gradient(left top, #66FFFF 0%, #6600CC 100%);
  background-image: -o-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -ms-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: linear-gradient(to bottom right, #66FFFF 0%, #6600CC 100%);
}

#row2 {
  padding: 35px;
  transition: box-shadow 0.5s ease-in;
  background: #00B386;
  background: -moz-linear-gradient(top right, #00CCCC 0%, #003366 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #003366), color-stop(100%, #003366));
  background: -webkit-linear-gradient(left bottom, #00CCCC 0%, #003366 100%);
  background: -o-linear-gradient(top right, #00CCCC 0%, #003366 100%);
  background: -ms-linear-gradient(top right, #00CCCC 0%, #003366 100%);
  background: linear-gradient(to top right, #00CCCC 0%, #003366 100%);
}

#row3 {
  padding: 35px;
  transition: box-shadow 0.5s ease-in;
  text-align: right;
  background: #00B386;
  background: -moz-linear-gradient(top right, #FF9999 0%, #660066 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #FF9999), color-stop(100%, #660066));
  background: -webkit-linear-gradient(left bottom, #FF9999 0%, #660066 100%);
  background: -o-linear-gradient(top right, #FF9999 0%, #660066 100%);
  background: -ms-linear-gradient(top right, #FF9999 0%, #660066 100%);
  background: linear-gradient(to top right, #FF9999 0%, #660066 100%);
}

#row4 {
  position: absolute;
  transition: box-shadow 0.5s ease-in;
  padding: 35px;
}

@media only screen and (max-width: 1365px) {
  #row4 {
    width: 100%;
  }
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.hidden {
  padding: 30px 0 0 0;
}

@media only screen and (max-width: 767px) {
  .hidden {
    display: none;
  }
}

.type_section {
  text-align: left;
  margin-bottom: 10px;
}

.types {
  display: inline-block;
  font-size: 19px;
  width: 27%;
  color: white;
  opacity: 0.7;
  font-weight: 100;
  line-height: normal;
  text-align: right;
  vertical-align: middle;
}

.skills, .hash_section {
  opacity: 0.9;
  display: inline-block;
  width: 65%;
  vertical-align: middle;
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.hash_section {
  display: block;
  width: 95%;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.app_section {
  text-align: left;
  margin: 25px 0;
  border-top: 1px solid white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.app_name {
  display: inline-block;
  width: 27%;
  text-align: right;
  font-size: 26px;
  vertical-align: middle;
  opacity: 0.7;
  transition: opacity 0.25s ease-in;
}

.app_name:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.app_description {
  display: inline-block;
  opacity: 1;
  width: 65%;
  font-size: 18px;
  padding: 0 0 5px 15px;
  margin-left: 15px;
  border-left: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  vertical-align: middle;
}

.screenshot {
  display: inline-block;
  width: 50%;
  margin: 10px 0;
  border: 5px solid white;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px #555555;
  vertical-align: middle;
  transition: box-shadow 0.5s ease-in;
}

.screenshot:hover {
  box-shadow: 0 0 10px white;
  transition: box-shadow 0.5s ease-in;
}

.app_details {
  display: inline-block;
  width: 49%;
  padding: 5px 0 0 15px;
  font-size: 14px;
  opacity: 0.85;
  line-height: 24px;
  vertical-align: middle;
}

@media only screen and (min-width: 800px) and (max-width: 1365px) {
  .app_details {
    font-size: 16px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1365px) {
  .app_details {
    line-height: 30px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  #description1_line1 {
    font-size: 40px;
  }
  
  #description1_line2 {
    font-size: 20px;
  }
  
  .app_details {
    line-height: 19.5px;
  }
}

#scroll_div {
  text-align: center;
  visibility: hidden
}

@media only screen and (max-width: 767px) {
  #row1 {
    padding: 50px 0;
  }

  #profilepic {
    display: block;
    margin: 0 auto;
    width: 150px;
    position: relative;
    top: -25px;
  }

  #hi_line {
    font-size: 22px;
    left: 20px;
  }

  #my_name {
    font-size: 64px;
    position: relative;
    top: 10px;
  }

  #intro {
    display: block;
    left: 0px;
    margin: 0 auto;
    width: 280px;
  }

  #hi_badge {
    width: auto;
    margin: 0 auto;
  }

  #description1_line1 {
    margin-top: 0px;
    font-size: 26px;
    text-transform: uppercase;
    position: relative;
    top: 18px;
  }

  .transparent {
   display: none;
  }

  #description1_line2 {
    width: 310px;
    margin: 20px auto;
    font-size: 18px;
  }

  #contact {
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
  }

  .icon_border {
    height: 40px;
    width: 7%;
    display: inline-block;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .contact_icon {
    padding: 0px;
  }

  br {
    display: none;
  }

  #contact_line {
    margin-top: 15px;
    font-size: 22px;
  }  

  #description2, #description3, #description4 {
    display: none;
  }

  #row2, #row3, #row4 {
    padding: 20px 10px;
    width: 100%
  }
 
   #h1row2, #h1row3, #h1row4 {
     font-size: 25px;
     text-align: center;
     text-transform: uppercase;
   }
  
   .h1row2move, .h1row3move, .h1row4move {
     margin: 0;
   }
  
   .hidden {
     padding: 15px;
   }
  
   .hash_section {
     padding: 10px 0;
     margin: 0;
     border: 0;
     font-size: 16px;
   }
  
   .hash {
     margin-right: 5px;
     font-size: 21px;
   }
  
   .types, .skills, .app_name, .app_description, .app_details {
     display: block;
     width: 100%;
     text-align: left;
     padding: 0;
     border: none;
     padding: 0;
     margin: 0;
     font-size: 16px;
     line-height: 30px;
   }
  
   .types, .app_name {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
   }
  
  .app_section {
    text-align: left;
    margin: 0;
    border: none;
  }
  
  .app_name {
    opacity: 1;
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  .app_description {
    opacity: 0.8;
    line-height: 25px;
  }
  
  .app_details, .screenshot {
    width: 100%;
  }
  
  .app_details {
    opacity: 1;
    padding-bottom: 15px;
  }
  
  #scroll_div {
    visibility: visible;
  }
}