body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 130%;
  color: white;
  text-shadow: 0 0 2px #111111;
  height: 100%;
  margin: 0;
}

nav {
  padding: 2px;
  position:fixed;
  top: 0px;
  width: 100%; 
  height: 50px;
  z-index: 9999;
  display: none;
  background: #6684E6;
  background-image: -moz-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66FFFF), color-stop(100%, #6600CC));
  background-image: -webkit-linear-gradient(left top, #66FFFF 0%, #6600CC 100%);
  background-image: -o-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -ms-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: linear-gradient(to bottom right, #66FFFF 0%, #6600CC 100%);
  box-shadow: 0 0 4px dimgray;
}

#nav_container {
  position: relative;
  left: -15px;
}


#site_icon {
  height: 60px;
  -webkit-filter: contrast(1.3) brightness(0.95);
  filter: contrast(1.3) brightness(0.95);
  display: inline-block;
  vertical-align: middle;
}

#nav_text {
  display: inline-block;  
  vertical-align: middle;
  position: relative;
  top: -5px;
  left: 7px;
}

.nav_link {
  transition: text-shadow 0.25s ease-in;
}

.nav_link:hover {
  text-shadow: 0 0 1px silver;
  transition: text-shadow 0.25s ease-in;
}

section {
  max-width: 800px;
  margin: auto;
}

#profilepic {
  width: 130px;
  border-radius: 100%;
  border: 4px solid white;
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px dimgray;
}

h1 {
  font-weight: 100;
  margin: 0;
}

#hi_line {
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 40px;
}

#my_name {
  font-size: 70px;
  font-weight: 300;
  text-shadow: 0 0 2px #343434;
}

#intro {
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: 10px;
}

#hi_badge {
  width: 480px;
  margin: 0 auto;
}


.fa {
  opacity: 0.3;
  transition: opacity 0.4s ease-in, text-shadow 0.25s ease-in;
}

.fa-cubes {
  font-size: 40px;
  -webkit-transform:scale(0.9,1);
  -moz-transform:scale(0.9,1);
  -ms-transform:scale(0.9,1);
  -o-transform:scale(0.9,1);
  transform: scale(0.9,1);
}

.fa-file-text {
  -webkit-transform:scale(0.95,0.85);
  -moz-transform:scale(0.95,0.85);
  -ms-transform:scale(0.95,0.85);
  -o-transform:scale(0.95,0.85);
  transform: scale(0.95,0.85);  
}

.fa:hover, .icon_hover {
  opacity: 1;
  text-shadow: 0 0 1px silver;
  transition: opacity 0.4s ease-in, text-shadow 0.25s ease-in;
}

#description1_line1 {
  text-align: center;
  margin-top: 20px;
  font-size: 45px;
}

.transparent {
  font-size: 38px;
}

#description1_line2 {
  text-align: center;
  margin-top: 10px;
  font-size: 21px;
}

#contact {
  font-size: 60px;
  margin-top: 20px;
  text-align: center;
}

.icon_border {
  height: 40px;
  width: 35.5%;
  display: inline-block;
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  .icon_border {
    width: 33%; 
  }
}

.contact_icon {
  padding: 5px;
}

#contact_line {
  text-align: center;
  margin-top: 35px;
  font-size: 30px;
  opacity: 0.9;
}

#description2, #description3, #description4 {
  font-size: 30px;
  padding-top: 7px;
}

#description2, #description3, #description4 {
  float: right;
  position: relative;
}

#h1row2, #h1row3, #h1row4 {
  transition: margin 0.25s ease-in;  
}

.h1row2move, .h1row3move, .h1row4move {
  margin-left: 30px;
  transition: margin 0.25s ease-in;
}

p {
  line-height: 35px;
  margin: 0;
}

.punc {
  opacity: 0.45;
  padding: 0 2px;
}

.hash {
  opacity: 0.5;
  margin-right: 10px;
  transition: opacity 0.25s ease-in;
}

.hash_hover {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.medium {
  font-size: 25px;
}

.large {
  font-size: 35px;
}

#row1 {
  padding: 100px 10px;
  background: #6684E6;
  background-image: -moz-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66FFFF), color-stop(100%, #6600CC));
  background-image: -webkit-linear-gradient(left top, #66FFFF 0%, #6600CC 100%);
  background-image: -o-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -ms-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: linear-gradient(to bottom right, #66FFFF 0%, #6600CC 100%);
}

#row2 {
  position: relative;
  padding: 35px 35px;
  background: #008BA0;
  background: -moz-linear-gradient(top right, #00CCCC 0%, #003366 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #003366), color-stop(100%, #003366));
  background: -webkit-linear-gradient(left bottom, #00CCCC 0%, #003366 100%);
  background: -o-linear-gradient(top right, #00CCCC 0%, #003366 100%);
  background: -ms-linear-gradient(top right, #00CCCC 0%, #003366 100%);
  background: linear-gradient(to top right, #00CCCC 0%, #003366 100%);
}

#row3 {
  padding: 35px 35px;
  background: #0D9875;
  background: -moz-linear-gradient(top right, #19CEA1 0%, #144A3D 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #19CEA1), color-stop(100%, #144A3D));
  background: -webkit-linear-gradient(left bottom, #19CEA1 0%, #144A3D 100%);
  background: -o-linear-gradient(top right, #19CEA1 0%, #144A3D 100%);
  background: -ms-linear-gradient(top right, #19CEA1 0%, #144A3D 100%);
  background: linear-gradient(to top right, #19CEA1 0%, #144A3D 100%);
}

#row4 {
  padding: 35px 35px;
  background: #CC5D1C;
  background: -moz-linear-gradient(bottom right, #CCCC00 0%, #CC0033 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #CCCC00), color-stop(100%, #CC0033));
  background: -webkit-linear-gradient(left top, #CCCC00 0%, #CC0033 100%);
  background: -o-linear-gradient(bottom right, #CCCC00 0%, #CC0033 100%);
  background: -ms-linear-gradient(bottom right, #CCCC00 0%, #CC0033 100%);
  background: linear-gradient(to bottom right, #CCCC00 0%, #CC0033 100%);
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.hidden {
  padding: 30px 0 0 0;
}

@media only screen and (max-width: 767px) {
  .hidden {
    display: none;
  }
}

.type_section {
  text-align: left;
  margin-bottom: 10px;
}

.types {
  display: inline-block;
  font-size: 19px;
  width: 27%;
  color: white;
  font-weight: 100;
  line-height: normal;
  text-align: right;
  vertical-align: middle;
}

.skills {
  font-size: 23px;
  line-height: 40px;
}

.skills, .hash_section {
  display: inline-block;
  width: 68%;
  vertical-align: middle;
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.hash_section {
  display: block;
  width: 95%;
  font-size: 17.5px;
  line-height: 30px;
  margin: 10px 0 20px 0;
}

.app_section {
  text-align: left;
  margin: 25px 0;
  border-top: 1px solid white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.app_name {
  display: inline-block;
  width: 27%;
  text-align: right;
  font-size: 31px;
  vertical-align: middle;
  transition: text-shadow 0.25s ease-in;
}

.app_name:hover {
  text-shadow: 0 0 1px silver;
  transition: text-shadow 0.25s ease-in;
}

.app_description {
  display: inline-block;
  width: 65%;
  font-size: 22px;
  padding: 0 0 5px 15px;
  margin-left: 15px;
  border-left: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  vertical-align: middle;
  line-height: 40px;
}

.screenshot {
  display: inline-block;
  width: 50%;
  margin: 10px 0;
  border: 5px solid white;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px dimgray;
  vertical-align: middle;
  transition: box-shadow 0.5s ease-in;
}

.screenshot:hover {
  box-shadow: 0 0 10px white;
  transition: box-shadow 0.5s ease-in;
}

.app_details {
  display: inline-block;
  width: 45%;
  padding: 5px 0 0 15px;
  font-size: 16.5px;
  line-height: 22px;
  vertical-align: middle;
}

#scroll_div {
  text-align: center;
  padding-top: 10px;
  transition: text-shadow 0.25s ease-in;
  font-size: 25px;
}

#scroll_div:hover {
  text-shadow: 0 0 1px silver;
  transition: text-shadow 0.25s ease-in;
}

@media only screen and (min-width: 870px) {
  .hash_section {
    width: 100%
  }

  .app_details {
    width: 46%
  }

}

@media only screen and (min-width: 837px) {
  .app_details {
    line-height: 25px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  #description1_line1 {
    font-size: 40px;
  }
  
  #description1_line2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 833px) {
  .types, .app_name {
    width: 26%;
  }

  .app_name {
    font-size: 27px;
  }

  .skills, .app_description {
    font-size: 20px;
  }

  .app_details {
    font-size: 15.5px;
  }

  #nav_container {
    position: relative;
    left: 2px;
  }
}

@media only screen and (max-width: 767px) {
  #profilepic {
    display: block;
    margin: 0 auto;
    width: 150px;
    position: relative;
    top: -25px;
  }

  #hi_line {
    font-size: 22px;
    left: 20px;
  }

  #my_name {
    font-size: 61px;
    position: relative;
    top: 10px;
  }

  #intro {
    display: block;
    left: 0px;
    margin: 0 auto;
    width: 280px;
  }

  #hi_badge {
    width: auto;
    margin: 0 auto;
  }

  #description1_line1 {
    margin-top: 0px;
    font-size: 26px;
    text-transform: uppercase;
    position: relative;
    top: 18px;
  }

  .transparent {
   display: none;
  }

  #description1_line2 {
    width: 310px;
    margin: 20px auto;
    font-size: 18px;
  }

  #contact {
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
  }

  .icon_border {
    height: 40px;
    width: 15%;
    display: inline-block;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .contact_icon {
    padding: 0px;
  }

  br {
    display: none;
  }

  #contact_line {
    margin-top: 15px;
    font-size: 22px;
  }  

  #description2, #description3, #description4 {
    display: none;
  }

  #row1, #row2, #row3, #row4 {
    padding: 30px 10px;
    width: 100%;
  }

  #row1 {
    padding: 70px 10px 50px 10px;
    width: 100%;
  }
 
  #h1row2, #h1row3, #h1row4 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .h1row2move, .h1row3move, .h1row4move {
    margin: 0;
  }
  
  .hidden {
    padding: 15px 15px 0 15px;
  }
  
  .hash_section {
    padding: 10px 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    width: 100%;
  }
  
  .hash {
    margin-right: 5px;
    font-size: 21px;
  }
  
  .types, .skills, .app_name, .app_description, .app_details {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }

 .types, .app_name {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
  }
  
  .app_section {
    text-align: left;
    margin: 0;
    border: none;
  }
  
  .app_name {
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  .app_description {
    line-height: 25px;
  }
  
  .screenshot {
    width: 97%
  }
  
  .app_details {
    padding-bottom: 15px;
  }
}