* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 130%;
  color: white;
  text-shadow: 0 0 1px #343434;
  height: 100%;
  margin: 0;
}

nav {
  padding: 2px;
  position:fixed;
  top: 0px;
  width: 100%;
  height: 65px;
  z-index: 9999;
  display: none;
  background: #6684E6;
  background-image: -moz-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66FFFF), color-stop(100%, #6600CC));
  background-image: -webkit-linear-gradient(left top, #66FFFF 0%, #6600CC 100%);
  background-image: -o-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -ms-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: linear-gradient(to bottom right, #39f8ff 0%, #6f03a7 100%);
  box-shadow: 0 0 10px #343434;
}

#nav_container {
  position: relative;
  left: -15px;
}

#nav_icon {
  height: 70px;
  -webkit-filter: hue-rotate(8deg)contrast(1.75) brightness(0.925) saturate(1.75);
  filter: hue-rotate(13deg) contrast(1.75) brightness(0.925) saturate(1.5);
  display: inline-block;
  vertical-align: middle;
}

#nav_text {
  display: inline-block;  
  vertical-align: middle;
  position: relative;
  bottom: 4px;
  left: 13px;
  font-size: 26px;
}

.nav_link {
  transition: text-shadow 0.25s linear;
}

.nav_link:hover {
  text-shadow: 0 0 2px silver;
  transition: text-shadow 0.25s linear;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  margin: 0;
}

#hi_line {
  font-size: 27px;
  position: relative;
  /* left: 25px; */
  top: 5px;
}

#my_name {
  font-size: 100px;
  text-shadow: 0 0 1px #454545;
  /* letter-spacing: 2px; */
  position:  relative;
  bottom: -5px;
  color: #00b4ff;
}

#intro {
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: 10px;
}

#hi_badge {
  /* width: 342px; */
  margin: 0 auto;
}


.fa {
  opacity: 0.4;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.fa-cubes {
  font-size: 40px;
  -webkit-transform:scale(0.9,1);
  -moz-transform:scale(0.9,1);
  -ms-transform:scale(0.9,1);
  -o-transform:scale(0.9,1);
  transform: scale(0.9,1);
}

#description1_line1 {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
  color: #7e80ff;
}

.transparent {
  font-size: 32px;
  color: white;
}

#description1_line2 {
  text-align: center;
  font-size: 26px;
  margin-top: 60px;
}

#contact {
  font-size: 42px;
  margin-top: 80px;
  text-align: center;
}

.icon_border {
  height: 25px;
  width: 7%;
  display: inline-block;
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.icon_text {
  font-size: 40px;
  vertical-align: middle;
  position: relative;
  bottom: 5px;
  padding-left: 5px;
  transition: text-shadow 0.25s linear;
}

.contact_link {
  padding-right: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  .icon_border {
    width: 28%;
  }
}

.contact_icon {
  opacity: 0.4;
  /* color: lime; */
}

.icon_hover {
  opacity: 1;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

#contact_line {
  text-align: right;
  margin-top: 26px;
  font-size: 30px;
  color: #00b4ff;
}

#description2, #description3, #description4 {
  opacity: 0.8;
  font-size: 35px;
  padding-top: 7px;
  float: right;
  position: relative;
  text-shadow: 0 0 2px #343434 !important;
}

#h1row2, #h1row3, #h1row4 {
  transition: margin 0.25s linear, text-shadow 0.25s linear;
  font-size: 50px;
  vertical-align: middle;
}

.h1row2move, .h1row3move, .h1row4move {
  text-shadow: 0 0 5px white;
  transition: margin 0.25s linear, text-shadow 0.25s linear;
}

p {
  line-height: 35px;
  margin: 0;
}

.punc {
  opacity: 0.5;
  padding: 0 2px;
}

#profilepic {
  width: 100px;
  border-radius: 100px;
  vertical-align: middle;
}

.hash {
  opacity: 0.6;
  margin-right: 10px;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.medium {
  font-size: 35px;
}

.large {
  font-size: 45px;
}

#row1, #row2, #row3, #row4 {
  width: 100%;
}

#row1 {
  font-family: 'Lato', sans-serif;
  padding: 175px 10px 185px 10px;
  background: #6684E6;
  background-image: -moz-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66FFFF), color-stop(100%, #6600CC));
  background-image: -webkit-linear-gradient(left top, #66ffff 0%, #6600cc 100%);
  background-image: -o-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -ms-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background: url('img/angles.png') scroll;
}

@media only screen and (min-width: 768px) {
  #row1 {
    height: 100vh;
    padding: 0 10px;
  }

  #row1_content {
    position: relative;
    transform: translate(0px, -50%);
    top: 50%;
  }
}


#row2 {
  position: relative;
  padding: 50px 35px;
  background: 
  linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.9)
  ),
  url(img/pier.jpg) no-repeat fixed;
  background-position: 50% 100%;
  box-shadow: 0px 0px 10px 0px #222222;
  /*background: #008BA0;*/
  /*background: -moz-linear-gradient(top right, #00CCCC 0%, #003366 100%);*/
  /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #003366), color-stop(100%, #003366));*/
  /*background: -webkit-linear-gradient(left bottom, #00CCCC 0%, #003366 100%);*/
  /*background: -o-linear-gradient(top right, #00CCCC 0%, #003366 100%);*/
  /*background: -ms-linear-gradient(top right, #00CCCC 0%, #003366 100%);*/
  /*background: linear-gradient(to top right, #00CCCC 0%, #003366 100%);*/
}

#row3 {
  padding: 50px 35px;
  background: 
  linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('img/wall.png') scroll;
  box-shadow: 0px 0px 20px 0px #222222;
  /*background: #0D9875;*/
  /*background: -moz-linear-gradient(top right, #19CEA1 0%, #144A3D 100%);*/
  /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #19CEA1), color-stop(100%, #144A3D));*/
  /*background: -webkit-linear-gradient(left bottom, #19CEA1 0%, #144A3D 100%);*/
  /*background: -o-linear-gradient(top right, #19CEA1 0%, #144A3D 100%);*/
  /*background: -ms-linear-gradient(top right, #19CEA1 0%, #144A3D 100%);*/
  /*background: linear-gradient(to top right, #19CEA1 0%, #144A3D 100%);*/
}

#row4 {
  padding: 50px 35px 0px 35px;
  position: relative;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.7)
  ),
  url(img/sunset.jpg) no-repeat fixed;
  background-position: top;
  background-size: 160%;
  box-shadow: 0px 0px 10px 0px #222222;
  /*background: #6684E6;*/
  /*background-image: -moz-linear-gradient(top left, #66FFFF 0%, #6600CC 100%);*/
  /*background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #66FFFF), color-stop(100%, #6600CC));*/
  /*background-image: -webkit-linear-gradient(right bottom, #66FFFF 0%, #6600CC 100%);*/
  /*background-image: -o-linear-gradient(top left, #66FFFF 0%, #6600CC 100%);*/
  /*background-image: -ms-linear-gradient(top left, #66FFFF 0%, #6600CC 100%);*/
  /*background-image: linear-gradient(to top left, #66FFFF 0%, #6600CC 100%);*/
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.hidden {
  padding: 30px 0 0 0;
}

@media only screen and (max-width: 767px) {
  .hidden {
    display: none;
  }
}

.type_section {
  text-align: left;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.16);
  position: relative;
}

.type_section:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 40px solid rgba(255, 255, 255, 0.055);
    border-left: 40px solid rgba(0, 0, 0, 0.2);
    width: 0;
}

.types {
  padding: 20px 22px 15px 0;
  margin: 0 15px 0 0;
  border-right: 1px solid white;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: inline-block;
  font-size: 23px;
  width: 23%;
  color: white;
  line-height: normal;
  text-align: right;
  vertical-align: middle;
  transition: text-shadow 0.25s linear;
}

.skills {
  font-size: 35px;
  line-height: 55px;
  width: 70%;
  transition: text-shadow 0.25s linear;
}

.threelines {
  font-size: 30px;
  line-height: 45px;
}

.skills, .hash_section {
  display: inline-block;
  vertical-align: middle;
}

.skills_description {
  font-size: 17.5px;
  line-height: 30px;
  padding: 15px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.hash_section {
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
  width: 95%;
  font-size: 17.5px;
  line-height: 30px;
  margin: 25px 0;
}

.app_section {
  text-align: left;
  margin-top: 25px;
  /* padding-bottom:  10px; */
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.app_name {
  display: inline-block;
  width: 30%;
  text-align: right;
  font-size: 36px;
  vertical-align: middle;
  transition: text-shadow 0.25s linear;
}

.app_name:hover {
  text-shadow: 0 0 2px silver;
  transition: text-shadow 0.25s linear;
}

.app_description {
  display: inline-block;
  width: 65%;
  font-size: 22.5px;
  padding: 5px 0 5px 15px;
  margin-left: 15px;
  border-left: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  vertical-align: middle;
  line-height: 40px;
}

.screenshot {
  display: inline-block;
  width: 50%;
  margin: 10px 0;
  border: 5px solid white;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px dimgray;
  vertical-align: middle;
  transition: box-shadow 0.5s linear;
}

.screenshot:hover {
  box-shadow: 0 0 15px white;
  transition: box-shadow 0.5s linear;
}

.app_details {
  display: inline-block;
  width: 45%;
  padding-left: 10px;
  font-size: 16.5px;
  line-height: 23.5px;
  vertical-align: middle;
}

.text_hover {
  opacity: 1;
  text-shadow: 0 0 3px white;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.scroll {
  text-align: center; 
  font-size: 25px;
  transition: text-shadow 0.25s linear;
}

.scroll:hover {
  text-shadow: 0 0 2px silver;
  transition: text-shadow 0.25s linear;
}

.down {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  left: 0;
}

.types_icon {
  font-size: 50px !important;
  padding-bottom: 10px;
  color: #66fafe;
}

@media only screen and (max-width: 767px) {
  .down {
    display: none;
  }
}

.up {
  padding: 70px 0 15px 0;
}

@media only screen and (min-width: 870px) {
  .hash_section {
    width: 100%
  }

  .app_details {
    width: 49%;
  }

}

@media only screen and (min-width: 837px) {
  .app_details {
    line-height: 26px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  #description1_line1 {
    font-size: 40px;
  }
  
  #description1_line2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 833px) {
  .types {
    width: 22%;
  }

  .app_name {
    font-size: 27px;
  }

  .skills, .app_description {
    font-size: 20px;
  }

  .app_details {
    font-size: 15px;
    width: 49%;
  }

  #nav_container {
    position: relative;
    left: 2px;
  }
}

@media only screen and (max-width: 767px) {
  #profilepic {
    display: block;
    margin: 0 auto;
    width: 150px;
    position: relative;
    top: -25px;
  }

  #hi_line {
    font-size: 24px;
    left: 20px;
  }

  #my_name {
    letter-spacing: normal;
    font-size: 61px;
    position: relative;
    top: 10px;
  }

  #intro {
    display: block;
    left: 0px;
    margin: 0 auto;
    width: 280px;
  }

  #hi_badge {
    width: auto;
    margin: 0 auto;
  }

  #description1_line1 {
    margin-top: 0px;
    font-size: 26px;
    text-transform: uppercase;
    position: relative;
    top: 18px;
    
  }

  .transparent {
   display: none;
  }

  #description1_line2 {
    width: 310px;
    margin: 20px auto;
    font-size: 18px;
  }

  #contact {
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
  }

  .icon_border {
    height: 40px;
    width: 17%;
    display: inline-block;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .contact_icon {
    padding: 0px;
  }
  
  br {
    display: none;
  }

  #contact_line {
    margin-top: 15px;
    font-size: 22px;
  }  

  #description2, #description3, #description4 {
    display: none;
  }

  #row1, #row2, #row3, #row4 {
    padding: 30px 10px;
    width: 100%;
  }

  #row1 {
    padding: 50px 7px;
    width: 100%;
  }
 
  #h1row2, #h1row3, #h1row4 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .h1row2move, .h1row3move, .h1row4move {
    margin: 0;
  }
  
  .hidden {
    padding: 15px 15px 0 15px;
  }
  
  .hash_section {
    padding: 10px 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    width: 100%;
  }
  
  .hash {
    margin-right: 5px;
    font-size: 21px;
  }
  
  .types, .skills, .app_name, .app_description, .app_details {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }

 .types, .app_name {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 10px;
  }
  
  .app_section {
    text-align: left;
    margin: 0;
    border: none;
  }
  
  .app_name {
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  .app_description {
    line-height: 25px;
  }
  
  .screenshot {
    width: 97%
  }
  
  .app_details {
    padding-bottom: 15px;
  }

  .up {
    padding: 0;
  }
}

.msg_box {
  /* width: 760px; */
  /* margin: 0 auto; */
  text-align: center;
  padding-top: 30px;
  font-size: 26px;
}

.input_box {
  font-size: 40px;
  width: 600px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  color: #00e3ff;
}

.left_bracket {
  display: inline-block;
  vertical-align: middle;
}

.right_bracket {
  display: inline-block;
  vertical-align: middle;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

u {
  text-decoration: none;
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}