* {
  box-sizing: border-box;
}

body {
  background: #333333;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 130%;
  color: white;
  text-shadow: 0 0 1px #343434;
  height: 100%;
  margin: 0;
}

nav {
  padding: 2px;
  position:fixed;
  top: 0px;
  width: 100%;
  height: 65px;
  z-index: 9999;
  display: none;
  background: #6684E6;
  background-image: -moz-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66FFFF), color-stop(100%, #6600CC));
  background-image: -webkit-linear-gradient(left top, #66FFFF 0%, #6600CC 100%);
  background-image: -o-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: -ms-linear-gradient(bottom right, #66FFFF 0%, #6600CC 100%);
  background-image: linear-gradient(to bottom right, #39f8ff 0%, #6f03a7 100%);
  box-shadow: 0 0 15px #343434;
}

#nav_container {
  position: relative;
  left: -15px;
}

#nav_icon {
  height: 70px;
  -webkit-filter: hue-rotate(13deg) contrast(1.75) brightness(0.925) saturate(1.5);  
  filter: hue-rotate(13deg) contrast(1.75) brightness(0.925) saturate(1.5);  
  display: inline-block;
  vertical-align: middle;
  transition: -webkit-filter 0.25s linear, filter 0.25s linear;
}

#nav_icon:hover {
  -webkit-filter: hue-rotate(15deg) contrast(1.9) brightness(0.95) saturate(1.75);
  filter: hue-rotate(15deg) contrast(1.9) brightness(0.95) saturate(1.75);
  transition: -webkit-filter 0.25s linear, filter 0.25s linear;
}

.nav_text {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 4px;
  left: 13px;
  font-size: 26px;
}

.nav_link {
  transition: text-shadow 0.25s linear;
}

.nav_link:hover {
  text-shadow: 0 0 2px silver;
  transition: text-shadow 0.25s linear;
}

.smartphone_nav {
  display: none;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  margin: 0;
}

#hi_line {
  font-size: 27px;
  position: relative;
  top: 5px;
}

#my_name {
  font-size: 100px;
  text-shadow: 0 0 1px #454545;
  position:  relative;
  bottom: -5px;
  color: #00b4ff;
}

#self_intro {
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: 10px;
}

.msg_box {
  text-align: center;
  padding-top: 30px;
  font-size: 26px;
}

.input_box {
  font-size: 40px;
  width: 600px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  color: #00e3ff;
}

.left_bracket {
  display: inline-block;
  vertical-align: middle;
}

.right_bracket {
  display: inline-block;
  vertical-align: middle;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.fa {
  opacity: 0.4;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.fa-envelope {
  -webkit-transform: scale(0.9,1);
  -moz-transform: scale(0.9,1);
  -ms-transform: scale(0.9,1);
  -o-transform: scale(0.9,1);
  transform: scale(0.9,1);
}

.fa-cubes {
  font-size: 40px;
  -webkit-transform: scale(0.9,1);
  -moz-transform: scale(0.9,1);
  -ms-transform: scale(0.9,1);
  -o-transform: scale(0.9,1);
  transform: scale(0.9,1);
}

#description1_line1 {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
  color: #7e80ff;
}

.transparent {
  font-size: 30px;
  color: white;
}

#description1_line2 {
  text-align: center;
  font-size: 26px;
  margin-top: 60px;
}

#contact {
  font-size: 42px;
  margin-top: 80px;
  text-align: center;
}

.icon_border {
  height: 25px;
  width: 7%;
  display: inline-block;
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.icon_text {
  font-size: 40px;
  vertical-align: middle;
  position: relative;
  bottom: 5px;
  padding-left: 5px;
  transition: text-shadow 0.25s linear;
}

.email_text {
  padding-left: 2px;  
}

.contact_link {
  padding-right: 5px;
}

.contact_icon {
  opacity: 0.4;
}

.icon_hover {
  opacity: 1;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

#contact_line {
  text-align: right;
  margin-top: 26px;
  font-size: 30px;
  color: #00b4ff;
}

#description2, #description3, #description4 {
  font-size: 35px;
  padding-top: 12px;
  float: right;
  position: relative;
  text-shadow: 0 0 2px #343434 !important;
}

#h1row2, #h1row3, #h1row4 {
  transition: margin 0.25s linear, text-shadow 0.25s linear;
  font-size: 50px;
  vertical-align: middle;
}

.h1row2move, .h1row3move, .h1row4move {
  text-shadow: 0 0 5px white;
  transition: margin 0.25s linear, text-shadow 0.25s linear;
}

p {
  line-height: 35px;
  margin: 0;
}

.punc {
  opacity: 0.5;
  padding: 0 2px;
}

#profilepic {
  width: 100px;
  border-radius: 100px;
  vertical-align: middle;
}

.hash {
  opacity: 0.6;
  margin-right: 10px;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.medium {
  font-size: 35px;
}

.large {
  font-size: 45px;
}

#intro, #about, #skills, #projects {
  width: 100%;
}

#intro {
  font-family: 'Lato', sans-serif;
  padding: 175px 10px 185px 10px;
  background: url('img/angles.png') scroll;
}

/* Vertically center header content */
@media only screen and (min-height: 450px) {
  #intro {
    height: 100vh;
    padding: 0 10px;
  }

  #intro_content {
    position: relative;
    transform: translate(0px, -50%);
    top: 50%;
  }
}

#about, #skills, #projects {
  padding: 50px 35px;  
}

#about {
  position: relative;
  background: 
  linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.9)
  ),
  url(img/pier.jpg) no-repeat fixed;
  background-size: cover;
  box-shadow: 0px 0px 15px 0px #222222;
}

#skills {
  background: 
  linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('img/wall.png') scroll;
  box-shadow: 0px 0px 20px 0px #222222;
}

#projects {
  padding-bottom: 10px;
  position: relative;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6)
  ),
  url(img/sunset.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 15px 0px #222222;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.hidden {
  padding: 45px 0 0 0;
}

.type_section {
  text-align: left;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.16);
  position: relative;
}

.type_section:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 40px solid rgba(255, 255, 255, 0.055);
    border-left: 40px solid rgba(0, 0, 0, 0.2);
    width: 0;
}

.types {
  padding: 20px 22px 15px 15px;
  margin: 0 15px 0 0;
  border-right: 1px solid white;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: inline-block;
  font-size: 23px;
  width: 23%;
  color: white;
  line-height: normal;
  text-align: right;
  vertical-align: middle;
  transition: text-shadow 0.25s linear;
}

.skills {
  font-size: 35px;
  line-height: 55px;
  width: 70%;
  transition: text-shadow 0.25s linear;
}

.threelines {
  font-size: 30px;
  line-height: 45px;
}

.skills, .hash_section {
  display: inline-block;
  vertical-align: middle;
}

.skills_description {
  font-size: 17.5px;
  line-height: 30px;
  padding: 15px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.hash_section {
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
  width: 100%;
  font-size: 17.5px;
  line-height: 30px;
  margin-bottom: 30px;
}

.app_section {
  text-align: left;
  margin-bottom: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.app_name {
  display: inline-block;
  width: 30%;
  text-align: right;
  font-size: 36px;
  vertical-align: middle;
  transition: text-shadow 0.25s linear;
}

.app_name:hover {
  text-shadow: 0 0 2px silver;
  transition: text-shadow 0.25s linear;
}

.app_description {
  display: inline-block;
  width: 65%;
  font-size: 22.5px;
  padding: 5px 0 5px 15px;
  margin-left: 15px;
  border-left: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  vertical-align: middle;
  line-height: 40px;
}

.screenshot {
  display: inline-block;
  width: 50%;
  margin: 10px 0;
  border: 5px solid white;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px dimgray;
  vertical-align: middle;
  transition: box-shadow 0.5s linear;
}

.screenshot:hover {
  box-shadow: 0 0 15px white;
  transition: box-shadow 0.5s linear;
}

.app_details {
  display: inline-block;
  width: 49%;
  padding-left: 10px;
  font-size: 16.5px;
  line-height: 26px;
  vertical-align: middle;
}

.text_hover {
  opacity: 1;
  text-shadow: 0 0 3px white;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.scroll {
  text-align: center; 
  font-size: 25px;
  transition: text-shadow 0.25s linear;
}

.scroll:hover {
  text-shadow: 0 0 2px silver;
  transition: text-shadow 0.25s linear;
}

.down {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  left: 0;
}

.types_icon {
  font-size: 50px !important;
  padding-bottom: 10px;
  color: #66fafe;
}

.up {
  padding: 0 0 15px 0;
}

footer {
  padding: 10px 35px;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0)
  ),
  url('img/denim.png') scroll;
  font-size: 25px;
}

#copyright {
  float: right;
  font-size: 18px;
  padding-right: 10px
}

/* All mobile devices and small screens */
@media only screen and (max-width: 1024px) {
  #about {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3)
  ),
  url('img/denim.png') scroll;
  box-shadow: 0 0 15px #222222;
  }
  
  #projects {
  background: 
  linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  ),
  url('img/diamonds.png') scroll;
  }
  
  #nav_icon:hover {
    -webkit-filter: hue-rotate(13deg) contrast(1.75) brightness(0.925) saturate(1.5);  
    filter: hue-rotate(13deg) contrast(1.75) brightness(0.925) saturate(1.5);    
  }

  .nav_link:hover {
    text-shadow: 0 0 1px #343434;
  }

  .screenshot:hover {
    box-shadow: none;
  }

  .text_hover, icon_hover {
    text-shadow: 0 0 1px #343434;    
  }
  
  .icon_hover {
    opacity: 0.4;
  }

  .down {
    display: none;
  }  
}

/* Smartphones */
@media only screen and (max-width: 767px) {
  .smartphone {
    display: none;
  }

  nav {
    position: fixed;
    background-image: -moz-linear-gradient(bottom right, #48f6ff 0%, #9227fd 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #48f6ff), color-stop(100%, #9227fd));
    background-image: -webkit-linear-gradient(left top, #48f6ff 0%, #9227fd 100%);
    background-image: -o-linear-gradient(bottom right, #48f6ff 0%, #9227fd 100%);
    background-image: -ms-linear-gradient(bottom right, #48f6ff 0%, #9227fd 100%);
    background-image: linear-gradient(to bottom right, #48f6ff 0%, #9227fd 100%);
    box-shadow: 0 0 15px #222222;
    height: 55px;
  }

  #nav_icon {
    height: 60px;
  }

  #nav_container {
    position:relative;
    left: 0;
  }

  .nav_text {
    display: none;
  }

  .smartphone_nav {
    display: inline;
    left: 5px;
    font-size: 18.5px;
  }

  #intro, #about, #skills, #projects {
    padding: 10px 20px;
    width: 100%;
  }

  #intro {
    padding:60px 10px;    
  }

  #hi_line {
    font-size: 22px;
    left: 0;
    top: 15px;
  }

  #my_name {
    font-size: 64px;
  }

  #self_intro {
    display: block;
    width: 280px;
  }

  #hi_badge {
    position: relative;
    top: 25px;
  }

  .transparent {
   font-size: 23px;
   display: block;
   margin-left: 10px;
  }

  #description1_line1 {
    display: block;
    margin: 0 0 0 6px;
    font-size: 45px;
    text-align: left;
    line-height: 45px;
  }

  .msg_box {
    text-align: left;
    padding: 0 10px;
    font-size: 23px;
  }

  .icon_text {
    display: none;
  }

  .input_box {
    width: 100%;
    height: 65px;
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  .icon_border {
    display: none;
  }

  #contact {
    font-size: 55px;
    margin-top: 0px;
    text-align: right;
  }

  .contact_link {
    padding-right: 10px;
  }

  #contact_line {
    margin-top: 0px;
    font-size: 21px;
    text-align: right;
    padding-right: 10px;
  }  

  #description2, #description3, #description4 {
    display: none;
  }
 
  #h1row2, #h1row3, #h1row4 {
    font-size: 35px;
    text-align: right;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
  }
  
  .hidden {
    padding: 0;
  }
  
  .hash_section, .skills_description, .app_details {
    font-size: 16px;
    line-height: 25px;
  }

  .hash_section {
    padding: 0 0 25px 0;
    margin: 0;
    border: 0;
    width: 100%;
  }

  .hash {
    display: block;
    padding-bottom: 15px;
    opacity:  0.5;
  }
  
  .large {
    font-size: 35px;
  }

  .medium {
    font-size: 35px;
  }

  br {
    display: none;
  }
  
  .types, .skills, .app_name, .app_description, .app_details {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .types_icon {
    padding-right: 10px;
    font-size: 22px !important;
  }

  .types {
    padding: 15px 0 15px 15px;
    font-size: 25px;
    line-height: 20px;
    width: 85%;
    text-transform: uppercase;
  }

  .skills {
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
    border-top: 1px solid white;
    border-top: 1px solid rgba(255, 255, 255, 0.15);  
  }

  .smartphone {
    display: none;
  }

  .skills_description {
    padding: 10px;
  }

 .app_name {
    text-transform: uppercase;
  }
  
  .app_section {
    text-align: left;
    margin: 0;
    border: none;
  }
  
  .app_name {
    font-size: 30px;
    padding-bottom: 5px;
  }
  
  .app_description {
    font-size: 17px;
    line-height: 25px;
    border-left: 1px solid white;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    padding-left: 10px;
  }
  
  .screenshot {
    width: 97%;
    box-shadow: none;
  }
  
  .app_details {
    padding-bottom: 30px;
  }

  .up {
    padding: 0;
  }

  footer {
    padding: 10px 20px;
    font-size: 19px;
  }

  #footer_contact {
    position: relative;
    top: -1px;
  }

  #copyright {
    font-size: 16px;
  }
}

/* Mid-sized to large smartphones */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .smartphone_nav {
    font-size: 22.5px;
  }

  #hi_line {
    font-size: 25px;
  }

  #my_name {
    font-size: 77px;
  }

  #self_intro {
    width: 350px;
  }

  #description1_line1 {
    font-size: 60px;
    line-height: 60px;
  }

  .input_box {
    font-size: 35px;
    margin-bottom: 25px;
  }

  #contact {
    font-size: 60px;
  }

  #contact_line {
    font-size: 24px;
  }

  .hash_section {
    font-size: 17px
  }
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    background-image: -moz-linear-gradient(bottom right, #3ed2ff 0%, #6f03a7 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3ed2ff), color-stop(100%, #6f03a7));
    background-image: -webkit-linear-gradient(left top, #3ed2ff 0%, #6f03a7 100%);
    background-image: -o-linear-gradient(bottom right, #3ed2ff 0%, #6f03a7 100%);
    background-image: -ms-linear-gradient(bottom right, #3ed2ff 0%, #6f03a7 100%);
    background-image: linear-gradient(to bottom right, #3ed2ff 0%, #6f03a7 100%);
    box-shadow: 0 0 15px #222222;
  }

  #nav_container {
    position: relative;
    left: 1px;
  }

  #hi_badge {
    padding: 65px 0 15px 0;
  }

  #self_intro {
    margin-left: 30px
  }

  .transparent {
    font-size: 30px;
    margin-left: 40px
  }

  #description1_line1 {
    font-size: 40px;
    position: relative;
    top: 1px;
  }

  .msg_box {
    padding-top: 10px;
  }

  .input_box {
    width: 520px;
    margin-bottom: 3px;
  }

  .msg {
    font-size: 37px;
  }

  .icon_border {
    width: 4%;
  }

  #contact {
    margin-top: 40px;
  }

  #contact_line {
    padding-right: 10px
  }

  #h1row2, #h1row3, #h1row4 {
    font-size: 45px;
    margin-top: 30px;
  }

  #description2, #description3, #description4 {
    font-size: 33px;
    padding-top: 11px;
  }
  
  #about, #skills, #projects {
    padding: 10px 35px;
  }
  
  .types {
    width: 27%;
  }

  .skills {
    font-size: 28px;
  }

  .app_name {
    font-size: 32px;
  }

  .app_description {
    width: 67%;
    line-height: 35px;
    font-size: 22px;
  }

  .app_details {
    font-size: 15px;
    width: 49%;
    line-height: 22px;
  }

  .screenshot {
    box-shadow: none
  }
  
  .screenshot:hover {
    box-shadow: none;
  }
}

/* Line height adjustments for smaller laptops */
@media only screen and (min-width: 830px) and (max-width: 889px) {
  .app_details {
    font-size: 17px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 890px) and (max-width: 1024px) {
  .app_details {
    font-size: 17px;
    line-height: 25px;
  }
}

/* Landscape mobile devices */
@media only screen and (max-height: 450px) {
  nav {
    display: none;
  }

  #intro {
    padding: 10px 10px 20px 10px;
  }

  .input_box {
    height: auto;
    margin-bottom: 5px;
  }

  .types {
    padding-bottom: 0;
  }

  .app_name {
    margin-top: 10px;
  }

  .app_description {
    margin-bottom: 10px;
  }

  .screenshot {
    width: 49%;
    float: left;
    display: inline;
    margin: 5px 15px 0 0;
  }

  .app_details {
    width: 50%;
    display: inline;
    text-align: justify;
  }
}